# server
PORT=8084
GRPC_PORT=50053
JWT_SECRET=polar_bear_jwt_secret
ACCESS_TTL=15m
REFRESH_TTL=720h

# google oauth
GOOGLE_CLIENT_ID=xxx.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=xxx
GOOGLE_REDIRECT_URL=http://localhost:8000/api/v1/auth/google/callback

PUBLIC_URL=http://localhost:8000

USER_SERVICE_ADDR=localhost:50052

DB_HOST=localhost
DB_PORT=5435
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=auth
DB_SSLMODE=disable

ENABLE_SWAGGER=true

COOKIE_DOMAIN=
COOKIE_SECURE=false
COOKIE_SAMESITE=lax
